{{!< layout.hbs }}
<div class="{{page.metadata.slug}} wrapper">

  <h1><span id="page-title">{{page.title}}</span></h1>

  <p id="redirect-status">
    Attempting to redirect to <span id="redirect-url"></span> ...
  </p>

  <p>
    <a href="/">return home</a>
  </p>

  {{> copyright}}

</div>

{{! redirect script}}
<script type="text/javascript" src="/script/404.js"></script>
