{{!< layout.hbs }}
<div class="{{page.metadata.slug}} wrapper">

  {{> page-content}}
  
  <h2>Web Development</h2>
  {{#list env contents listName='web' sort='date' sortDescending='true'}}
    {{> web-list-item}}
  {{/list}}

  <h2>Music</h2>
  {{#list env contents listName='music' sort='date' sortDescending='true'}}
    {{> music-list-item}}
  {{/list}}

  <h2>Other Sounds</h2>
  {{#list env contents listName='sound' sort='date' sortDescending='true'}}
    {{> sound-list-item}}
  {{/list}}

  <h2>Education</h2>
  {{#list env contents listName='education' sort='date' sortDescending='true'}}
    <h3>{{> linked-title}}</h3>
    <p class="location">{{metadata.location}}</p>
    {{{html}}}
  {{/list}}

  {{> copyright}}

</div>
