{{!< layout.hbs }}
<div class="{{page.metadata.slug}} wrapper">

  {{> page-content}}
  
  <h2>Web Development</h2>
  {{#list env contents 'web' sort='date' sortDescending='true'}}
    {{> web-list-item}}
  {{/list}}

  <h2>Music</h2>
  {{#list env contents 'music' sort='date' sortDescending='true'}}
    {{> music-list-item}}
  {{/list}}

  <h2>Other Sounds</h2>
  {{#list env contents 'sound' sort='date' sortDescending='true'}}
    {{> sound-list-item}}
  {{/list}}

  <h2>Education</h2>
  {{#list env contents 'education' sort='date' sortDescending='true'}}
    {{> education-list-item}}
  {{/list}}

  <h2>Skills</h2>
  {{#list env contents 'skills'}}
    {{> skills-list-item}}
  {{/list}}

  {{> copyright}}

</div>
