<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>t.obi.as butler</title>
    <link rel="stylesheet" href="style/app.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
