// init

@mixin transition($params)
  transition: $params
  -webkit-transition: $params
  -moz-transition: $params
  -o-transition: $params
  -ms-transition: $params

@mixin transform($params)
  transform: $params
  -webkit-transform: $params
  -moz-transform: $params
  -o-transform: $params
  -ms-transform: $params

// variables

$break-small: 480px
$break-tween: 600px
$break-med: 800px
$break-large: 960px

$background-color: #FFFCEE
$text-color: #404344
$light-text: #A0A3A8
$link-color: #35829D
$link-hover-color: #65A1ED

$light-grey: #d2d2d2

$translucent: 0.6

$transition-time: 0.2s

// mixins

@mixin skinny-text 
  font-weight: 100
  letter-spacing: 0.04em

@mixin responsive-column
  display: inline-block
  vertical-align: top
  width: 100%

  @media screen and (min-width: $break-med)
    width: 50%

  @media screen and (min-width: $break-large)
    width: 33.33%


// common styles

* 
  box-sizing: border-box
  margin: 0
  padding: 0

body 
  font-family: "Helvetica Neue", sans-serif
  font-weight: 300
  background-color: $background-color
  color: $text-color


// headers

h1, h2, h3, h4, h5 
  margin: 2em 0 0.5em
  @include skinny-text
  a
    color: inherit
    text-decoration: none
    &:hover
      text-decoration: underline

h1 
  font-size: 4em

h2 
  font-size: 3em

h3 
  font-size: 2em

h4 
  font-size: 1.5em

h5 
  font-size: 1.25em

h6 
  font-size: 1em


// common text styles

p 
  margin: 0.5em 0
  line-height: 1.66em

a 
  color: $link-color
  @include transition(color $transition-time ease-in-out)

  &:hover
    color: $link-hover-color

ul
  list-style-type: disc
  li
    margin: 0.5em 0


// full page layout

.wrapper 
  width: 95%
  width: calc(100% - 160px)
  max-width: 1280px
  margin: 40px auto

.subheading 
  font-size: 2em
  @include skinny-text


// lists

$list-margin: 20px

ul.list-helper 
  list-style-type: none
  padding-bottom: 40px
  margin: 0 (-$list-margin/2) 160px
  
  & > li
    border-radius: 2px
    margin: 0
    padding: $list-margin $list-margin 40px
    h3
      margin-top: 0

    &.clickable
      cursor: pointer
      @include transition(background-color $transition-time ease-in-out)
      &:hover
        background-color: rgba(0,0,0, 0.03)
        a.title
          text-decoration: none
          color: $link-hover-color

  &.music, &.web, &.sound
    & > li
      @include responsive-column

  &.skills
    ul li
      list-style-type: none
      display: inline-block
      width: 20%
      padding: 10px
      vertical-align: top
      font-size: 24px
      width: 100%
      @include skinny-text

      @media screen and (min-width: $break-small)
        width: 50%

      @media screen and (min-width: $break-tween)
        width: 33%

      @media screen and (min-width: $break-med)
        width: 25%

      @media screen and (min-width: $break-large)
        width: 20%

  &.education
    h3
      margin-bottom: 0
    .location
      opacity: $translucent
      margin-bottom: 2em
    ul
      margin: 0 $list-margin

// media

.media
  &.bandcamp-wrapper
    height: 42px
    margin: 0
    padding: 0

  &.bandcamp
    border-radius: 21px
    opacity: $translucent
    width: 42px
    height: 42px
    overflow: hidden
    border: 1px solid $light-grey
    @include transition(all $transition-time ease-in-out)

    iframe
      width: calc(100% + 2px)
      margin: -1px 0 0 -1px
      border-width: 0
      height: 42px

    &:hover
      border-radius: 0
      border-color: transparent
      opacity: 1
      height: 44px
      width: 100%
      iframe
        width: 100%
        margin: 0

  &.vimeo
    display: block
    margin: 0 0 20px
    cursor: pointer
    width: 100%
    height: 190px
    .play-button
      width: 100%
      height: 100%
      position: relative
      display: block
      border: 1px solid $light-grey
      border-radius: 2px
      opacity: $translucent
      background-color: white
      @include transition(all $transition-time ease-in-out)

      &:after
        font-size: 24px
        color: rgba(0,0,0,0.75)
        content: '\25B6'
        display: block
        width: 100%
        text-align: center
        top: 50%
        position: absolute
        @include transform(translateY(-46%))
        @include transition(all $transition-time ease-in-out)

      &:hover
        opacity: 1
        background-color: #f6f6f6

    iframe
      width: 100%
      height: 100%



// page elements 

.copyright 
  margin: 80px 0
  font-size: 0.8em


// 404 page

.fourOhFour.wrapper

  // title hidden initially
  h1 #page-title
    display: none

// index

.index.wrapper

  .subheading
    margin-bottom: 160px

