// variables

$break-small: 480px
$break-med: 800px
$break-large: 960px

// mixins

@mixin skinny-text 
  font-weight: 100
  letter-spacing: 0.04em

@mixin responsive-column
  display: inline-block
  vertical-align: top
  width: 100%

  @media screen and (min-width: $break-small)
    width: 50%

  @media screen and (min-width: $break-large)
    width: 33.33%


// common styles

* 
  box-sizing: border-box
  margin: 0
  padding: 0

body 
  font-family: "Helvetica Neue", sans-serif
  font-weight: 300
  background-color: #FFFCEE
  color: #404344


// headers

h1, h2, h3, h4, h5 
  margin: 2em 0 0.5em
  @include skinny-text

h1 
  font-size: 4em

h2 
  font-size: 3em

h3 
  font-size: 2em

h4 
  font-size: 1.5em

h5 
  font-size: 1.25em

h6 
  font-size: 1em


// common text styles

p 
  margin: 0.5em 0


// full page layout

.wrapper 
  width: 95%
  width: calc(100% - 160px)
  max-width: 1280px
  margin: 40px auto

h1.title 
  white-space: nowrap

.subheading 
  font-size: 2em
  @include skinny-text


// lists

.list-helper 
  list-style-type: none
  padding-bottom: 40px

  &.music, &.web, &.sound
    li 
      @include responsive-column
      padding: 0 20px 20px 0
    

// page elements 

.copyright 
  margin: 80px 0
  font-size: 0.8em

